body{
	background-image:url(1594907708030.jpeg);
	font-family:楷体
}
h2{
	color:#BBFF66;
	font-style: italic;
	font-weight: bold;
}
h3{
	color:#FFEE99;
}
p{
	color:black;
}
#para1{
	color: #FFFF00;
}
.otherp{
	color: #CCFF33;
}
div.me{
	border-width: 1px;
	border-style: solid;
	border-bottom-color: gray;
	border-radius: 5px;
}
div.u{	
	border-width: 1px;
	border-style: solid;
	border-bottom-color: gray;
	border-radius: 5px;
}
div.we{	border-width: 1px;
	border-style: solid;
	border-bottom-color: gray;
	border-radius: 5px;
}
div.you{	border-width: 1px;
	border-style: solid;
	border-bottom-color: gray;
	border-radius: 5px;
}
